<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
<!-- 	<bean  class="com.bixuebihui.spring.ZookeeperBeanFactoryPostProcessor" >
		<property name="path" value="/config/spring/beans.properties" />
	</bean> -->

	<bean class="com.bixuebihui.spring.SpringApplicationContextHolder">
		<property name="path" value="/config/spring/beans.properties" />
	</bean>

	<!-- execute Config.initDbConfig() when dbHelper created-->
	<bean class="com.bixuebihui.spring.BeanPostPrcessorImpl">
		<property name="dbHelperBeanName" value="dbHelper" />
	</bean>

	<import resource="spring-datasource.xml" />
	<!-- more bean definitions go here -->

</beans>

