<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="derbyConfig" class="com.bixuebihui.dbcon.DatabaseConfig">
		<property name="alias">
			<value>derby</value>
		</property>
		<property name="className">
			<value>org.apache.derby.jdbc.EmbeddedDriver</value>
		</property>
		<property name="dburl">
			<value>jdbc:derby:/data/mybase;create=true</value>
		</property>
		<property name="username">
			<value></value>
		</property>
		<property name="password">
			<value></value>
		</property>
	</bean>

	<bean id="mysqlConfig" class="com.bixuebihui.dbcon.DatabaseConfig">
		<property name="alias">
			<value>test</value>
		</property>
		<property name="className">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="dburl">
			<value>jdbc:mysql://localhost:3306/test?autoReconnect=true&amp;zeroDateTimeBehavior=convertToNull&amp;noAccessToProcedureBodies=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;mysqlEncoding=utf8</value>
		</property>
		<property name="username">
			<value>ssll</value>
		</property>
		<property name="password">
			<value>ssll123</value>
		</property>
	</bean>

	<alias name="mysqlConfig" alias="dbConfig" />


	<bean id="bitmechanicDataSource"
		class="com.bixuebihui.datasource.BitmechanicDataSource">
		<property name="databaseConfig">
			<ref bean="dbConfig" />
		</property>

	</bean>

	<bean id="dbcpDataSource"
          class="com.bixuebihui.datasource.DbcpDataSource" destroy-method="close">
		<property name="databaseConfig">
			<ref bean="dbConfig" />
		</property>

	</bean>

	<alias name="bitmechanicDataSource" alias="dataSource" />

	<bean id="dbHelper" class="com.bixuebihui.jdbc.DbHelper">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

    <alias name="dbHelper" alias="sequenceDbHelper" />
   <alias name="dbHelper" alias="sessionDbHelper" />
   	<!-- more bean definitions go here -->

</beans>

