*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/.settings/
/target
*.class
/WebContent/WEB-INF/classes/
*.project
/WebContent/static
.settings/
.classpath
.project
.vscode/
.externalToolBuilders/
/build.gradle
/settings.gradle
.vscode
/.metadata/
