<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="mysqlConfig" class="com.bixuebihui.dbcon.DatabaseConfig">
		<property name="alias">
			<value>ssll</value>
		</property>
		<property name="className">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="dburl">
			<value>${dburl}</value>
		</property>
		<property name="username">
			<value>${dbusername}</value>
		</property>
		<property name="password">
			<value>${dbpassword}</value>
		</property>
	</bean>


	<alias name="mysqlConfig" alias="dbConfig" />


	<!-- 默认连接的数据源 -->
	<bean id="bitmechanicDataSource" class="com.bixuebihui.datasource.BitmechanicDataSource">
		<property name="databaseConfig">
			<ref bean="dbConfig" />
		</property>
	</bean>


	<alias name="bitmechanicDataSource" alias="dataSource" />

	<bean id="dbHelper1" class="com.bixuebihui.jdbc.DbHelper">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>



	<!-- 以下用来TRACE DbHelper的执行情况 -->
	<bean id="dbHelperAroundAdvice" class="com.bixuebihui.jdbc.aop.DbHelperAroundAdvice" />

	<bean id="dbHelper" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>com.bixuebihui.jdbc.IDbHelper</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>dbHelperAroundAdvice</value>
			</list>
		</property>
		<property name="target">
			<ref bean="dbHelper1" />
		</property>
	</bean>




	<bean id="counterDbHelper1" class="com.bixuebihui.jdbc.DbHelper">
		<property name="dataSource">
			<!-- 默认连接的数据源 -->
			<bean  class="com.bixuebihui.datasource.BitmechanicDataSource">
				<property name="databaseConfig">
					<bean class="com.bixuebihui.dbcon.DatabaseConfig">
						<property name="alias">
							<value>counter</value>
						</property>
						<property name="className">
							<value>com.mysql.jdbc.Driver</value>
						</property>
						<property name="dburl">
							<value>${counterdburl}</value>
						</property>
						<property name="username">
							<value>${counterdbusername}</value>
						</property>
						<property name="password">
							<value>${counterdbpassword}</value>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="jeecmsDbHelper1" class="com.bixuebihui.jdbc.DbHelper">
		<property name="dataSource">
			<!-- 默认连接的数据源 -->
			<bean  class="com.bixuebihui.datasource.BitmechanicDataSource">
				<property name="databaseConfig">
					<bean class="com.bixuebihui.dbcon.DatabaseConfig">
						<property name="alias">
							<value>jeecms</value>
						</property>
						<property name="className">
							<value>com.mysql.jdbc.Driver</value>
						</property>
						<property name="dburl">
							<value>${jeecmsdburl}</value>
						</property>
						<property name="username">
							<value>${jeecmsdbusername}</value>
						</property>
						<property name="password">
							<value>${jeecmsdbpassword}</value>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="counterDbHelper" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>com.bixuebihui.jdbc.IDbHelper</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>dbHelperAroundAdvice</value>
			</list>
		</property>
		<property name="target">
			<ref bean="counterDbHelper1" />
		</property>
	</bean>

	<bean id="jeecmsDbHelper" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces" value="com.bixuebihui.jdbc.IDbHelper"/>
		<property name="interceptorNames">
			<list>
				<value>dbHelperAroundAdvice</value>
			</list>
		</property>
		<property name="target">
			<ref bean="jeecmsDbHelper1" />
		</property>
	</bean>



	<alias name="dbHelper" alias="sequenceDbHelper" />
	<alias name="dbHelper" alias="sessionDbHelper" />
	<alias name="dbHelper" alias="nbDbHelper" />
	<alias name="dbHelper" alias="gamesDbHelper" />
	<alias name="dbHelper" alias="cacheDbHelper" />
	<alias name="dbHelper" alias="searchDbHelper" />
	<!-- more bean definitions go here -->

	<alias name="counterDbHelper" alias="wishDbHelper" />


</beans>

